# ========================================================================
# $File: .gitattributes $
# $Date: 2017-08-18 16:45:25 $
# $Revision: $
# $Creator: Jen-Chieh Shen $
# $Notice: See LICENSE.txt for modification and distribution information
#                   Copyright (c) 2017 by Shen, Jen-Chieh $
# ========================================================================


# Set default behavior to automatically normalize line endings.
* text=auto
