##############################
# ignore following path
##############################
/.git
/.settings
/bin
/build

##############################
# ignore folloing extension
##############################
*.exe
*.jar
*.class
*.project
*.classpath
*.prefs
